.quiz-card {
    background: white;
    padding: 7px;
    display: flex;
    flex-direction: column;
    color: black;
    padding-top: 0px;
    /* font-size: small; */
    border-radius: 10px;
    border: 1.5px black solid;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 200px;
  }
  
  .quiz-card h3 {
    color: #4CAF50;
    /* margin-bottom: 10px; */
  }
  
  .quiz-card p {
    font-size: 15px;
    font-weight: bold;
  }
  
  .quiz-btn {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-top: auto;
  }
  
  .quiz-btn:hover {
    background-color: #388E3C;
  }
  